@import "var.scss";

// sass-lint:disable no-universal-selectors
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
ul, ol, li {
    list-style: none;
}
a {
    color: $color-text;
    text-decoration: none;
    transition: 0.13s ease-in;
}
img, button {
    border: 0;
}
table {
    border-collapse: collapse;
}
th {
    text-align: left;
    font-weight: normal;
}
i, em {
    font-style: normal;
}
body {
    color: $color-text;
    font-family: $fontfamily;
}
button, input, select, textarea {
    font-family: $fontfamily;
    font-size: 100%;
}
button {
    cursor: pointer;
    background-color: transparent;
    &[disabled] {
        cursor: default;
    }
}