* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

ul, ol, li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.13s ease-in;
}

img, button {
  border: 0;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: normal;
}

i, em {
  font-style: normal;
}

body {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

button, input, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
}
button[disabled] {
  cursor: default;
}

/*# sourceMappingURL=reset.css.map */