@mixin xs {
    @media (max-width: 320px), (max-width: 767px) and (orientation: landscape) {
        @content;
    }
}
@mixin overflow-auto {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
$fontfamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$color-text: #000;
$color-primary: #2681D8;
