<div class="matrix">
    <div class="matrix-item">
        <h2 class="matrix-item-hd">信号源</h2>
        <div class="matrix-item-bd">
            <button v-for="item in source" type="button" :class="{'matrix-selected': currentSource.name === item.name}" @click="currentSource = item">
                <em>{{item.desc}}</em>
                 <span v-if="one.source && item.name === one.source.name" v-for="one in output">{{one.desc}}</span> 
            </button>
        </div>
    </div>
    <div class="matrix-item">
        <h2 class="matrix-item-hd">输出</h2>
        <div class="matrix-item-bd matrix-output-bd">
            <button v-for="item in output" type="button" @click="toggleSource(item)" :disabled="$root.connectionStatus !== 'online'">
                <em>{{item.desc}}</em>
                <span v-if="item.source">{{item.source.desc}}</span>
            </button>
        </div>
    </div>
</div>
