<div class="tv">
    <div class="tv-topbar">
        <button type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
              <path class="svg-fill" fill="#000" d="M8,10.6668924 L2.66666668,10.6668924 C1.19641271,10.6668924 0,9.47143855 0,8.00016931 L0,2.66672311 C0,1.19643803 1.19644444,0 2.66666668,0 L8,0 C9.47073017,0 10.6666667,1.19646976 10.6666667,2.66672311 L10.6666667,8.00016931 C10.6666667,9.47143855 9.47073014,10.6668924 8,10.6668924 Z M9.33333332,2.66672311 C9.33333332,1.93159645 8.7351111,1.33336157 8,1.33336157 L2.66666668,1.33336157 C1.93203175,1.33336157 1.33333335,1.93159645 1.33333335,2.66672311 L1.33333335,8.00016931 C1.33333335,8.73580392 1.93203178,9.33353085 2.66666668,9.33353085 L8,9.33353085 C8.7351111,9.33353085 9.33333332,8.73580392 9.33333332,8.00016931 L9.33333332,2.66672311 Z M8,24 L2.66666668,24 C1.19641271,24 0,22.8050223 0,21.3337848 L0,16.0003386 C0,14.5300536 1.19644444,13.3336155 2.66666668,13.3336155 L8,13.3336155 C9.47073017,13.3336155 10.6666667,14.5300853 10.6666667,16.0003386 L10.6666667,21.3337848 C10.6666667,22.8050541 9.47073014,24 8,24 Z M9.33333332,16.0003386 C9.33333332,15.265212 8.7351111,14.6669771 8,14.6669771 L2.66666668,14.6669771 C1.93203175,14.6669771 1.33333335,15.265212 1.33333335,16.0003386 L1.33333335,21.3337848 C1.33333335,22.0694194 1.93203178,22.6671464 2.66666668,22.6671464 L8,22.6671464 C8.7351111,22.6671464 9.33333332,22.0694194 9.33333332,21.3337848 L9.33333332,16.0003386 Z M23.3343175,19.3377109 C22.9657778,19.3377109 22.6666666,19.0405934 22.6666666,18.6720142 L22.6666666,16.0003386 C22.6666666,15.265212 22.0684444,14.6669771 21.3333333,14.6669771 L16,14.6669771 C15.2653651,14.6669771 14.6666667,15.265212 14.6666667,16.0003386 L14.6666667,21.3337848 C14.6666667,22.0694194 15.2653651,22.6671464 16,22.6671464 L18.671619,22.6671464 C19.0396825,22.6671464 19.3382857,22.9667718 19.3382857,23.3348113 C19.3382857,23.7018985 19.0396825,24 18.671619,24 L16,24 C14.529746,24 13.3333333,22.8050223 13.3333333,21.3337848 L13.3333333,16.0003386 C13.3333333,14.5300536 14.5297778,13.3336155 16,13.3336155 L21.3333333,13.3336155 C22.8040635,13.3336155 24,14.5300853 24,16.0003386 L24,18.6720142 C24,19.0405934 23.7013651,19.3377109 23.3343175,19.3377109 Z M21.3333333,10.6668924 L16,10.6668924 C14.529746,10.6668924 13.3333333,9.47143855 13.3333333,8.00016931 L13.3333333,2.66672311 C13.3333333,1.19643803 14.5297778,0 16,0 L21.3333333,0 C22.8040635,0 24,1.19646976 24,2.66672311 L24,8.00016931 C24,9.47143855 22.8040635,10.6668924 21.3333333,10.6668924 Z M22.6666667,2.66672311 C22.6666667,1.93159645 22.0684445,1.33336157 21.3333334,1.33336157 L16,1.33336157 C15.2653651,1.33336157 14.6666667,1.93159645 14.6666667,2.66672311 L14.6666667,8.00016931 C14.6666667,8.73580392 15.2653651,9.33353085 16,9.33353085 L21.3333334,9.33353085 C22.0684445,9.33353085 22.6666667,8.73580392 22.6666667,8.00016931 L22.6666667,2.66672311 Z" transform="translate(1 1)"/>
            </svg>
            菜单
        </button>
        <button type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25">
              <path class="svg-fill" fill="#000" d="M12.3811803,22.423102 C12.732879,22.4231019 13.0174772,22.7077002 13.0174772,23.0593988 C13.0174772,23.4110975 12.732879,23.6956957 12.3811803,23.6956957 L0.63629686,23.6956957 C0.284598241,23.6956957 0,23.4110975 0,23.0593988 L0,0.636296883 C0,0.284598241 0.284598241,0 0.63629686,0 L12.3811803,0 C12.732879,0 13.0151634,0.282284416 13.0151634,0.633983059 C13.0151634,0.985681702 12.7305652,1.27027994 12.3788665,1.27027994 L1.27027994,1.27027994 L1.27027994,22.423102 L12.3811803,22.423102 Z M22.2935288,11.3978124 C22.5434199,11.6453897 22.5434199,12.0479921 22.2935288,12.2932557 L16.492815,18.0939694 C16.3701833,18.2166011 16.205903,18.2790739 16.0439365,18.2790739 C15.88197,18.2790739 15.7200036,18.2189149 15.595058,18.0939694 C15.3474807,17.846392 15.3474807,17.4437897 15.595058,17.1962123 L20.3105963,12.4829878 L8.36672548,12.4829878 C8.01502684,12.4829878 7.7304286,12.1983896 7.7304286,11.8466909 C7.7304286,11.4949923 8.01502684,11.2103941 8.36672548,11.2103941 L20.3105963,11.2103941 L15.5973718,6.49485577 C15.3497945,6.24727842 15.3497945,5.84467603 15.5973718,5.5970987 C15.8449491,5.34952138 16.2475515,5.34952138 16.4951288,5.5970987 L22.2935288,11.3978124 Z" transform="translate(1 1)"/>
            </svg>
            退出
        </button>
    </div>
    <div class="tv-arrow">
        <button class="tv-arrow-up" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="57" height="29" viewBox="0 0 57 29">
                <polygon class="svg-fill" points="109.923 17.446 109.923 51.369 112.923 54.446 112.923 14.446 73.923 14.446 76.848 17.446" transform="rotate(-45 53.68 109.908)"/>
            </svg>
        </button>
        <button class="tv-arrow-left" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="57" viewBox="0 0 29 57">
                <polygon class="svg-fill" points="11.869 82.5 45.869 82.5 48.869 79.5 8.869 79.5 8.869 119.5 11.869 116.5" transform="rotate(-45 -56.836 64)"/>
            </svg>
        </button>
        <button class="tv-arrow-ok" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51">
                <g class="svg-stroke" fill="none" fill-rule="evenodd" stroke="#000" transform="translate(1 1)">
                <circle cx="24.5" cy="24.5" r="24.5" stroke-width="2"/>
                <polyline stroke-linecap="round" stroke-linejoin="round" stroke-width="3" points="13 24.371 21.182 32.312 37 16"/>
                </g>
            </svg>
        </button>
        <button class="tv-arrow-right" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="56" viewBox="0 0 29 56">
                <polygon class="svg-fill" points="170.077 11.077 173.077 8.077 173.077 47.077 134.077 47.077 137.077 44.077 170.077 44.077" transform="rotate(-45 77.077 212.265)"/>
            </svg>
        </button>
        <button class="tv-arrow-bottom" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="29" viewBox="0 0 56 29">
                <polygon class="svg-fill" points="77.63 180.261 111.472 180.261 114.63 183.261 74.63 183.261 74.63 145.261 77.63 148.111" transform="rotate(-45 -135.628 163.637)"/>
            </svg>
        </button>
    </div>

    <div class="tv-panel">
        <button class="tv-panel-mute" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path class="svg-fill" fill="#000" d="M23.483285,3.16655193 C23.7934422,2.84490738 23.7841299,2.33273081 23.4624854,2.02257356 C23.1408408,1.71241628 22.6286643,1.72172858 22.318507,2.04337316 L2.24935715,22.496247 C1.9391999,22.8178916 1.9485122,23.3300682 2.27015675,23.6402254 C2.59180132,23.9503827 3.10397789,23.9410704 3.41413514,23.6194258 L23.483285,3.16655193 Z M10.5633465,20.6554618 C10.7725899,20.7606218 11.4250845,21.0885467 11.8550648,21.3046282 C14.0839936,22.4251604 14.0839936,22.4251604 14.8267002,22.7989409 C16.7012658,23.7414825 18.6195199,22.5659349 18.6195199,20.468072 L18.6195199,12.489235 L18.6146892,12.489235 C18.5704012,12.0838317 18.2270399,11.7691817 17.8104713,11.7691817 C17.3931482,11.7691817 17.0504401,12.0838317 17.0062433,12.489235 L17.0014228,12.489235 L17.0014228,12.7764472 L17.0014228,20.468072 C17.0014228,20.468072 16.354993,21.7560773 15.5540349,21.3531711 L11.2365625,19.1829467 L11.2360973,19.1838508 C11.2331627,19.1825027 11.2302163,19.18117 11.227258,19.179853 C10.8192734,18.9982065 10.3410612,19.1811622 10.1590857,19.5898859 C9.98859674,19.9728103 10.1399457,20.4178897 10.4965094,20.6213103 L10.4962801,20.6217559 C10.4962801,20.6217559 10.4996184,20.6234337 10.5060041,20.626643 C10.5245803,20.636913 10.5436997,20.6465331 10.5633461,20.6554616 L10.5633465,20.6554618 Z M4.39887323,16.4187789 L4.39887323,16.4171657 L3.29047668,16.4171657 C2.39728705,16.4171657 1.66833431,15.687404 1.6618619,14.7925962 L1.61817328,8.3339615 C1.61170091,7.4359176 2.32609078,6.70858292 3.22656185,6.70858292 L5.73542146,6.70858292 L15.5516078,1.77419569 C16.3517568,1.37128951 17.0014228,1.77257762 17.0014228,2.66900342 L17.0014228,3.1350154 L17.0062433,3.1350154 C17.0504401,3.54041874 17.3931482,3.85506864 17.8104713,3.85506864 C18.2270399,3.85506864 18.5704012,3.54041874 18.6146892,3.1350154 L18.6195199,3.1350154 L18.6195199,2.66900342 C18.6195199,0.568713327 16.7012658,-0.614924723 14.8242731,0.328425902 L5.35193243,5.09048578 L3.22656185,5.09048578 C1.42804688,5.09048578 -0.0120595703,6.54920037 7.61393208e-05,8.34447914 L0.0437647621,14.8031139 C0.0559005001,16.587066 1.50652459,18.0352629 3.29047668,18.0352629 L4.39887323,18.036072 L4.39887323,18.0352661 C4.41094238,18.0358015 4.42308,18.036072 4.43528041,18.036072 C4.88268428,18.036072 5.24432897,17.6736182 5.24432897,17.2270234 C5.24432897,16.7796195 4.88268428,16.4179748 4.43528041,16.4179748 C4.42308,16.4179748 4.41094238,16.4182447 4.39887323,16.4187789 Z"/>
            </svg>
            静音
        </button>
        <button class="tv-panel-back" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23">
                <path class="svg-fill" fill="#000" d="M4.44149576,21.4530098 C4.44021745,21.9169974 4.81436988,22.2946665 5.27834913,22.2977289 C5.74232837,22.3007912 6.12143331,21.9280936 6.1262796,21.4641296 C6.13112589,21.0001656 5.75988875,20.6196304 5.29594678,20.6130002 C5.07252376,20.612361 4.85799771,20.7005028 4.6995624,20.8580354 C4.54112708,21.0155679 4.45176083,21.2295868 4.45112339,21.4530098 L4.44149576,21.4530098 Z M0.000757357663,21.4530098 C-0.000216767824,21.7939528 0.204412652,22.1018664 0.519123759,22.2330151 C0.833834865,22.3641639 1.19656729,22.2926857 1.43799603,22.0519467 C1.67942478,21.8112078 1.75194061,21.4486813 1.62169283,21.1335963 C1.49144505,20.8185112 1.18411825,20.6130016 0.843173851,20.6130002 C0.379403357,20.614314 0.00339807069,20.989245 0.000757357663,21.4530098 Z M24,14.1504622 C23.993264,18.2481093 20.9778273,21.7187836 16.9212945,22.2978332 L9.26733885,22.2978332 C8.80208507,22.2978332 8.42492236,21.9206705 8.42492236,21.4554167 C8.42492236,20.9901629 8.80208507,20.6130002 9.26733885,20.6130002 L16.8057631,20.6130002 C20.0512854,20.0949101 22.4091253,17.250048 22.3158694,13.9647572 C22.2226134,10.6794664 19.7071922,7.97293616 16.4375067,7.63978612 L2.81442846,7.63978612 L7.35384995,12.1792076 C7.68617409,12.5082085 7.68886811,13.0443183 7.35986722,13.3766425 C7.03086632,13.7089666 6.49475646,13.7116606 6.16243233,13.3826597 L0.282365156,7.49296495 C0.101580613,7.31238142 3.12929319e-17,7.06733691 0,6.81181105 C-3.12929319e-17,6.55628519 0.101580613,6.31124068 0.282365156,6.13065714 L6.16243233,0.245776169 C6.49197036,-0.0819253898 7.02431192,-0.0819253898 7.35384995,0.245776169 C7.51244476,0.403447237 7.60162046,0.617850274 7.60162046,0.841484972 C7.60162046,1.06511967 7.51244476,1.27952271 7.35384995,1.43719377 L2.84331132,5.95495312 L16.507307,5.95495312 C20.7456252,6.34378467 23.9917104,9.89435337 24,14.1504622 Z"/>
            </svg>
            返回
        </button>
        <button class="tv-panel-increase" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <g class="svg-stroke" fill="none" fill-rule="evenodd" stroke="#000" stroke-width="3">
                <path d="M0 15.3636364L30 15.3636364M15.3636364 30L15.3636364 0"/>
                </g>
            </svg>
        </button>
        <button class="tv-panel-increase" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <g class="svg-stroke" fill="none" fill-rule="evenodd" stroke="#000" stroke-width="3">
                <path d="M0 15.3636364L30 15.3636364M15.3636364 30L15.3636364 0"/>
                </g>
            </svg>
        </button>
        <span>音量</span>
        <span>频道</span>
        <button class="tv-panel-decrease" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="4" viewBox="0 0 30 4">
                <path class="svg-stroke" fill="none" stroke="#000" stroke-width="3" d="M0,0 L30,0" transform="translate(0 2)"/>
            </svg>
        </button>
        <button class="tv-panel-decrease" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="4" viewBox="0 0 30 4">
                <path class="svg-stroke" fill="none" stroke="#000" stroke-width="3" d="M0,0 L30,0" transform="translate(0 2)"/>
            </svg>
        </button>
    </div>
</div>
